.purple{
    background: purple;
}
.red{
    background:red;
}
.pink{
    background:pink;
}
.orange{
    background:orange;
}
.yellow{
    background:yellow;
}
.green{
    background:green;
}
.navy{
    background:navy;
}
.brown{
    background:brown;
}
